<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SICEI</title>
</head>
<style>

    h1,h2 {
        text-align: center;
    }

    a {
        text-decoration: none;
        color:rgb(185, 23, 244);
        transition: color 0.3s ease;
    }

    a:hover {
        color: #621080;
    }

</style>
<body>
    <h1>SICEI</h1>
    <h2>
        <a href="{% url 'get_alumnos' %}">Ver alumnos</a>
    </h2>
    <h2>
        <a href="{% url 'get_profesores' %}">Ver profesores</a>
    </h2>
</body>
</html>
